
/* --- generics --- */

.spine {
    padding-left: 150px;
}

.large {
    font-size: 1.2em
}

.huge {
    font-size: 1.4em;
}

.fatBottom {
    margin-bottom: .5em;
}

.hugeBottom {
    margin-bottom: 1em;
}

.unselected {
    color: blue;
}

.selected {
    color: black;
    font-weight: bold;
}

a { 
    color: blue; 
    cursor: pointer;
    text-decoration: none;
}

h4 {
    margin: 0 0 0 0;
}

/* foundations */

html, body {
    margin: 0;
    padding: 0;
    border: none;
    background: white;
    display: block;
}

body {
    margin-left: 12%;
    max-width: 75%;
    min-height: 100%;
}

h1.title {
    font-weight: bold;
    font-size: 2em;
    color: black;
    display: inline;
}

#rna-app {
}

#edition-header, #main, #login, #flash, h1.title {
    position: relative;
}

#edition-header {
    background-color: #F0F0F0;
    margin-left: 150px;
}

#flash {
    height: 1.2em;
    margin: 0.67em 0 0 0;
}

#menu {
    margin: 0 0 0 0; 
    padding-left: 0;
    font: 1.1em bold;
    color: blue;
}

#menu li {
    display: block;
}

#menu li .explain {
    display: none;
}

#login {
    top: 0;
    float: right;
    margin: 0.43em 0px;
}


#flash span.error { color: red }
#flash span.notice { color: green }

#flash span.success { 
    padding-right: .4em;
    padding-left: .4em;
    font-weight: bold; 
    background-color: aqua; 
    color: black; 
}

#flash span.info { color: green; }


#headerLine {
    border: 1px solid black;
}

#bodyLine {

}

/* --- supporting --- */

#createAccount {
    padding-left: 150px;
}

.number {
    color: green;
}

.signup {
    color: green;
}

#main {
    width: 100%;
}

#main ul.edition {
    position: relative;
    top: 0;
    padding-left: 154px;
    margin-left: 0;
}

.edition ul.spine {
    position: relative;
    margin: auto 0 auto 0;
}

.edition li, #volume li, #person li, #fullStory li {
    display: block;
}

.edition li.empty {
    font-size: 1.4em;
}


.edition span.submitter {
    display: block;
}

.stories, .top {
    float: left;
    width: 4.2em;
}

#editionTabsMajor {
    width: 158px;
    position: relative;
}

#editionTabsMinor {
    width: 158px;
    position: relative;
}

.volumeHeader {
    margin-left: 25%;
    margin-top: 20px;
}

.editionTabs {
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-left: 25%;
    margin-right: 53.8%;
    padding: 5px;
    margin-top: 20px;
}

.indented-story {
    padding: 0 0 0 10px;
    font-size: 1.1em;
}

.social, .story {
    color: black;
    font-size: 1.1em;
    margin-bottom: .5em;
}

.revenue {
    padding: 3px;
    font-size: .7em;
    background-color:  #F0F0F0;
}
