<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>newskraft.org</title>
    <link href="rna.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="js/json2.js"></script>
    <script src="js/jquery-1.4.2.js"></script>
    <script src="js/underscore-1.1.3.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/prettyprint.js"></script>
    <script src="js/rna-util.js"></script>
    <script src="js/rna.js"></script>

    <style type="text/css">
      .judgeOnly {
      display: none;
      }
  </style> </head>

  <body>

    <!-- RNA App Interface -->
    <div id="rna-app">

      <div id="header">
        <a href="http://www.newskraft.org" class="title">newskraft.org</a>
	<span id="loading"> <img src="ajax-loader.gif" alt="loader image"/> </span>
	<span id="login" class="large">
	  <a class="login"> </a>
	  <a class="logout"> </a> </span>
	<span id="time"> </span>
      </div>

    <div id="flash">
      <span class="flag notice large"></span>
      <span class="content large"> Please Wait.. </span> </div>

    <div id="leftColumn">
      <div class="menu">
	<div class="menuBorder"> Editions </div>
	<div> <a id="next"> Next </a> </div>
	<div> <a id="current"> Current </a> </div>
	<div> <a id="recent"> Recent </a> </div> </div>
      <div class="menu judgeOnly">
	<div class="menuBorder"> Works </div>
	<div> <a class="nominate"> Nominate </a> </div> </div> 
      <div class="menu">
	<div class="menuBorder"> Discussion </div>
	<div> 
	  <a href="http://groups.google.com/group/newskraft" id="forum"> Forum </a>
      </div> </div>
      <div class="menu">
	<div class="menuBorder"> Thanks </div>
	<div> <a href="/#donors"> Donors </a> </div> </div>
    </div>
    
    <div id="main"> 
      <div id="loadMessage" 
	   style="color: green; font-size: large; font-weight: bold">
	Loading... </div> </div>
    <div id="debugFooter"> </div> </div> <!-- rna-app -->
    


    <script type="text/template" id="create-account-template"> 
      <div class="fatBottom"> 

	<% if (app.loginView.isEditor()) { %>

	<div class="welcomeTxt"> Our judges need your authorization,
	editor, to spend our donors' money. </div> Invite great judges to join the site, and
	watch for new judges as they join.  Follow great judges and
	unfollow the not-so-great.  <span class="welcomeTxt2"> Follows
	and unfollows don't take effect until the next edition is
	  published. </span>

	<% } else { %>

	<div class="welcomeTxt"> Only you can award our donors'
	money, judge. </div> You start with no authority, but the
	more editors follow you, the more you can award to high
	quality journalism.  <span class="welcomeTxt2"> Follows and
	unfollows don't take effect until the next edition is
	published, </span> so don't expect any authority until then.

        <% } %>

      </div> <br>

      <form>
	<table> 
	  <tr> <td> Name </td> 
	    <td> <input type="text" name="nickname"/> </td></tr>
	  <tr> <td> Web Page </td> 
	    <td> <input type="text" name="webPage"/> </td> </tr> </table> <br>
	<% if (!app.loginView.isEditor()) { %>

	<iframe src="consent_judge.html" height="250" width="600"> 
	  <p>Error: Your web browser is out of date. Please contact laheadle@gmail.com </p>
	</iframe>

	<div style="margin-top: 10px; font-weight: bold"> I agree to participate 
	<input name="consent" type="checkbox"> </input>  </div> <br>
	<% } %>

	<input type="submit" value="submit information" />
      </form> </script>

    <!-- Templates -->

    <script type="text/template" id="edition-header-template"> 
      <div id="editionHeader" class="spaceOnTop"> <span class="number"> Number 
	<%= number %>: </span> <%= finished? 'Awarded' : 'Awarding' %> 
	<span class="amount"> <%= finished? totalSpendStr : revenueStr %> </span>
	on <%= endStr %> </div> </script>

    <script type="text/template" id="signup-round-template"> 
      <div id="editionHeader"> <span class="signup"> Signup round: </span> 
	<%= finished? 'Published' : 'Publishing' %>
	on <%= endStr %> </div> </script>

    <script type="text/template" id="edition-tabs-template"> 
      <div id="editionTabsInner">
	<div id="editionTabsMajor"> 
	  <a class="stories <%= storiesSelected %>"> Stories </a>
	  <a class="network <%= networkSelected %>"> Network </a> </div>
	<!-- fixme change to a TR -->
	<div id="editionTabsMinor" class="orderBy"> </div> 
	<div id="influenceTab"> </div>
      </div>
      <div class="clear"/>
    </script>

    <script type="text/template" id="please-finish-registering">
      You have not finished registering your account. 
      <a href="#createAccount/<%= andThen %>"> Please do so. </a> </script>

    <script type="text/template" id="network-order-tab-template">
      <a class="top <%= topSelected %>">Top</a>
      <a class="recent <%= recentSelected %>"> Recent </a> </script>

    <script type="text/template" id="stories-order-tab-template">
      <a class="top <%= topSelected %>"> Top </a>
      <a class="recent <%= recentSelected %>"> Recent </a> </script>
    
    <script type="text/template" id="influence-tab-template">
      <a class="top judge <%= judgeSelected %>"> Judges </a>
      <a class="editor <%= editorSelected %>"> Editors </a> </script>
    
    <script type="text/template" id="top-authority-template">
      <%= fundedStr %>
      <span class="italic"> Awarded by </span>
      <%= rMake('#person-link-template', user) %> </script>

    <script type="text/template" id="top-editor-template">
	<span class="amount"> <%= fundedStr %> </span> 
	<span class="italic"> Overseen by </span>
	<%= rMake('#person-link-template', user) %>
	<span class="floatRight">
	  <a href="#editorFundings/<%= edition.number %>/<%= id %>"> See awards </a> </span> 
    </script>
    
    <script type="text/template" id="none-followed-template">
	<div class="empty"> 
	  No judges have been fully authorized yet.  Please invite or follow judges.
	</div> </script>

    <script type="text/template" id="funding-template">
	  <!-- don't redisplay the username for personview -->
	  <div class="supportedUser"> 
	    <span class="smallTime"> <%= timeStr %></span> 
	    <%= user ? rMake('#person-link-template', user) : "" %>
	    <span class="via"> via </span> <span class="emphatic"> <%= vote.authority %> </span> 
	    <%= vote.authority == 1? 'Editor' : 'Editors' %> </div>
	  <!-- http://en.wikipedia.org/wiki/Geometric_Shapes -->
	  <span class="italic"> Supported </span> &#9657; 
	  <a href="#story/<%= vote.edition.raw.name%>/<%= link.id %>"> 
	    <%= makeSafe(link.title) %> </a>
	</script>

    <script type="text/template" id="followers-template">
      <div class="social-links">
        <div class="middleHeader"> <span class="boldHeader"> Followed by </span> or about to be followed by
	  <%= rMake('#help-link', {topic: 'about-to-follow'}) %> </div>
	  <div class="item">
          <% if (followers.length == 0) { %>
  	    <%= 'nobody' %>
  	  <% } else {
	     var i = 1;
  	     _.each(followers, function(f) { %> 
  	      <%= rMake('#person-link-template', f) %> 
	      <%= i++ < followers.length ? 'and' : '' %>
            <% });
  	  } %>
	  </div>
      </div>
    </script>

    <script type="text/template" id="header-template">
      <div class="mainHeader"> <%= text %> </div> </script>


    <script type="text/template" id="editor-fundings-header-template">
      <div class="mainHeader">
  	Awards overseen by 
	<%= rMake('#person-link-template', editor) %> during 
	<a href="#topStories/<%= edition.number %>"> <%= edition.displayStr %>  </a>
    <%= rMake('#help-link', {topic: 'overseen'}) %> </div> </script>

    <script type="text/template" id="nominate-story-template">
        <div class="mainHeader"> Nominate A Work of Journalism for Recognition and Support </div>
	<div class="mainDescription"> Your funding support will be noted in the next edition of newskraft.org, and you will become the nominating judge of this work. </div>
	<form>
      	  <table>
	    <tr> <td> URL of Work: </td> 
	      <% if (url != '') { %> <td> <input type="text" size="100" value="<%= url %>" name="url"/> </td> 
	      <% } else { %> <td> <input type="text" size="100" name="url"/> </td> 
	      <% } %> </tr>
	    <tr> <td> </td>
	      <td>
		<input type="submit" value="Nominate" name="nominateStory"/> </td> </tr> </table> </form> </script>


    <script type="text/template" id="full-submit-template">
        <div class="mainHeader"> Check Title </div>
	<div class="mainDescription"> 
	  <span class="emphatic"> Edit or accept </span> the provided title and submit nomination. </div>
	<form> 
	  <table> <tr> <td> Title: </td>
	    <td> <input type="text" size="100" name="title" value="<%= title %>"/> </td> </tr>
	  <tr> <td> URL: </td> 
	    <td> <input type="text" size="100" name="url" value="<%= link %>" /> </td> </tr>
	  <tr> <td> </td>
	    <td>
	      <input type="submit" value="Nominate Work" name="nominateStory"/> </td> </tr> </table> </form> </script>

    <script type="text/template" id="help-link">
      <span class="help">[<a target="_blank" class="help" href="/help.html#<%= topic %>">?</a>]</span>
    </script>

    <script type="text/template" id="signup-explanation">
    <div class="editionExplanation"> Empower enough judges to produce a great first edition!  Anyone can join as a judge with their <a href="http://gmail.com"> gmail.com </a> account.  The more editors follow a judge, the more funding that judge can distribute.
    <span class="importantExplanation"> 
      Funding will start after the signup round is published.  </span> </div> </script>

    <script type="text/template" id="funding-amounts-explanation">
      <div class="editionExplanation"> All awards are hypothetical and non-binding.
	<% if (!finished) { %>
	<span class="importantExplanation"> 
	  Award amounts will continue to change until this edition is published. </span> 
	<% } %>
    </div> </script>

    <script type="text/template" id="list-header">
    <div class="mainHeader">
      <span class="boldHeader">
	<%= text %></span><% if (typeof subtext !== "undefined") { %>:
      <%= subtext %><% } %></div>
    </script>


    <script type="text/template" id="follows-template">
      <div class="social-links">
        <div class="middleHeader"> <span class="boldHeader"> Following </span> or About to Follow  
	  <%= rMake('#help-link', {topic: 'about-to-follow'}) %> </div>
	<div class="item">
          <% if (follows.length == 0) { %>
  	    <%= 'nobody' %>
  	  <% } else {
	     var i = 1;
  	     _.each(follows, function(f) { %> 
  	      <%= rMake('#person-link-template', f) %> 
	      <%= i++ < follows.length ? 'and' : '' %>
            <% });
  	  } %>
	<div>
      </div>
    </script>

    <script type="text/template" id="person-set-template">
      <% if (people.length == 0) { %>
      <%= 'nobody' %>
      <% } else {
	 var i = 1;
  	 _.each(people, function(p) { %> 
      <%= rMake('#person-link-template', p) %> 
      <%= i++ < people.length ? 'and' : '' %>
          <% });
          } %>
    </script>

    <script type="text/template" id="story-funding-template">
	  <div class="supportedUser"> <span class="amount"> <%= fundedStr %> </span>
	    <span class="italic"> awarded by </span>
	    <%= rMake('#person-link-template', user) %>    <span class="smallTime"> <%= timeStr %> </span> 
	    <%= rMake('#supporting-editors-template', {eds: supportingEditors}) %> </div> </script>

    <script type="text/template" id="supporting-editors-template">
      <div class="supportingEditors"> 
	<span class="italic"> Overseen by </span> 
	&#9657 <%= rMake('#person-set-template', {people: eds}) %> </div> </script>

    <script type="text/template" id="full-story-template">
      <div class="volumeHeader"> Supported Work </div>
      <div class="item">
	<a class="titleLink" target="_blank" href="<%= link.url %>"> 
	  <%= makeSafe(link.title) %> </a>
	<div class="submitterLine"> 
	  Awarded <span class="amount"> <%= fundingStr %></span>,
	  nominated by <%= rMake('#person-link-template', submitter) %> 
	  from <%= link.domain %> </div>

	<div class="fadeIn supported">
	  <a class="linkButton" target="_blank" href="<%= link.url %>"> VISIT STORY </a> 
        <% if (isCurrent && app.loginView.isLoggedInJudge()) { %>
          <span> Fund this work: </span>
	  <input id="is-funding" type="checkbox" 
		 <%= userIsFunding? 'checked="yes"' : '' %>> </input>

  	<% } else if (userIsFunding && app.loginView.isLoggedInJudge()) { %>
          You <span class="emphatic"> supported </span> this work.
	<% } else if (app.loginView.isLoggedInJudge()) { %>
          You did <span class="emphatic"> not </span> support this story.
	<% } %>
	</div>

	<div class="mainHeader"> Funding during 
	  <a href="#topStories/<%= edition.number %>"> <%= edition.displayStr %>,</a> earliest awards on top. </div>

    </div> </script>

    <script type="text/template" id="story-template">
     <div class="fatBottom">
      <span class="amount"> <%= fundingStr %></span>
      <span> <%= link.domain %> </span>
      <br>
      <a class="indented-story" href="<%= href %>"> <%= makeSafe(link.title) %></a> 
      <div></script>


    <script type="text/template" id="donations-template">
      <div class="volumeHeader"> Newskraft.org was made possible by hypothetical donations </div>
      <div class="item muchSpaceOnBottom"> Total Funding:
	<span class="amount"> <%= totalStr %> </span> </div>
      <div class="mainHeader"> Donations </div>
    </script>

    <script type="text/template" id="donation-template">
      <span class="amount"> <%= amountStr %> </span> from

      <% if (webPage) { %> 
      <a href="<%= webPage %>"> <%= name %> </a>
      <% } else { %>
      <span> <%= name %> </span>
      <% } %>

      <div class="italic">
      <% if (statement) { %> 
      "<%= statement %>"
      <% } else { %>
      (no statement)
      <% } %>
      </div> </script>


    <script type="text/template" id="collapsed-edition-template">
      <a href="#topStories/<%= number %>"> Number 
	  <%= number %> </a> awarded <span class="amount"> $<%= totalSpend / 100 %> </span> to 
	<%= numFundedLinks %> <%= numFundedLinks == 1? 'story' : 'stories' %> 
	<span class="mediumTime"> <%= endStr %> </span> </script>

    <script type="text/template" id="collapsed-signup-round-template">
      <span> <a href="#recentSocials/<%= number %>"> Signup round </a> 
	completed <span class="mediumTime"> <%= endStr %> </span> </span> </script>

    <script type="text/template" id="volume-template">
      <%= published %> 
	<%= published == 1? 'edition' : 'editions' %> 
	published, <%= remaining %> remaining.  </script>

    <script type="text/template" id="social-template">
      <%= subjectLink %> 
      <span class="italic"> 
	<%= on? 'decided to follow' : 'decided to unfollow' %> </span>
      <%= objectLink %>. <span class="smallTime"> <%= timeStr %> </span> </script>

    <script type="text/template" id="welcome-template">
      <span class="italic">
	Welcome, <%= judge.isEditor === true? 'editor' : 'judge' %> </span> 
      <%= objectLink %>. <span class="smallTime"> <%= timeStr %> </span> </script>

    <script type="text/template" id="person-recent-header">
      <div class="mainHeader spaceOnTop"> <span class="boldHeader"> Recently </span>
	<%= rMake('#help-link', {topic: 'recently'}) %> </div> </script>

    <script type="text/template" id="person-template">
      <div class="volumeHeader"> 
	<span class="boldHeader"> <%= makeSafe(nickname) %> </span> 
	<span class="userType"> 
	  is <% if (isEditor) { %> 
	  an <span class="emphatic"> editor</span>
	  <% } else { %>
	  a <span class="emphatic"> judge</span> 
	  <% } %>
      </span> </div> 
    <div class="item"> Web Page: <a href="<%= webPage %>"> 
	<%= makeSafe(webPage) %> </a> </div> </script>

    <script type="text/template" id="is-following-template">
      <div class="item"> 
	<span> Follow: </span>
	<input id="is-following" type="checkbox" 
	       <%= isFollowing? 'checked="yes"' : '' %>> </input> </div> </script>

    <script type="text/template" id="person-link-template">
      <a class="personLink" href="<%= '#person/' + id %>">
	<%= makeSafe(nickname) %></a></script>

  </body> 

</html>
