<!DOCTYPE html>
<html>

  <head>
    <title>The Craft of News: A Journal</title>
    <link href="rna.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="js/json2.js"></script>
    <script src="js/jquery-1.4.2.js"></script>
    <script src="js/underscore-1.1.3.js"></script>
    <script src="js/csspopup.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/rna.js"></script>
    <script src="js/stories.js"></script></head>

  <body>

    <!-- RNA App Interface -->
    <div id="rna-app">

      <div id="header">
        <h1 class="spine title">newskraft.org</h1>
	<div id="login" class="huge">
	  <a class="login"> </a>
	  <a class="logout"> </a>
	</div> </div>

      <div id="headerLine"> </div>

      <div id="flash" class="spine">
	<span class="flag large"></span>
	<span class="content large"></span> </div>

      <ul id="menu"> 
	<li> 
	  <span class="explain"> See what we're working on. </span> 
	  <a id="upcoming"> Upcoming </a> </li>
	<li> 
	  <a id="recent"> Recent </a> </li> </ul>

      <div id="main"></div>

    </div>

    <!-- Welcome Popup -->
    <div id="blanket" style="display:none;"></div>
    <div id="popupdiv" style="display:none;">
      Welcome to The Craft of News.  Please tell us about yourself. <br>
      <form>
	Nickname <input type="text" name="nickname"/> <br>
	Web Page <input type="text" name="webpage"/> <br>
	<input type="submit" value="submit information" />
      </form> </div>

    <!-- Templates -->

    <script type="text/template" id="edition-header-template"> 
      <span id="header" class="spine">Number <%= number %>: Awarding $<%= revenue / 100 %> 
	on <%= end %> </span> </script>

    <script type="text/template" id="edition-tabs-template"> 
      <span id="editionTabsMajor"> 
	<a class="stories <%= storiesSelected %>"> Stories </a> | 
	<a class="network <%= networkSelected %>"> Network </a> </span>
      <!-- fixme change to a TR -->
      <div id="editionTabsMinor" class="orderBy"> </div> </script>

    <script type="text/template" id="network-order-tab-template">
      <a class="top <%= topSelected %>">Top</a> | 
      <a class="recent <%= recentSelected %>"> Recent </a> </script>
    
    <script type="text/template" id="stories-order-tab-template">
      <a class="top <%= topSelected %>"> Top </a> | 
      <a class="recent <%= recentSelected %>"> Recent </a> </script>
    
    <script type="text/template" id="authority-template">
      <%= authority %> <a> <%= nickname %> </a> </script>
    
    <script type="text/template" id="none-followed-template">
	<li class="empty"> 
	  No judges have been followed. Please invite or follow one. 
	</li> </script>

    <script type="text/template" id="funding-template">
	<li> 
	  <%= rMake('#person-link-template', user) %>
	  funded 
	  <a href="<%= link.url %>"> <%= link.title %> </a>
	</li> </script>

    <script type="text/template" id="story-funding-template">
	<li> 
	  funded by <%= rMake('#person-link-template', user) %>
	  (authority: <%= authority %>)
	</li> </script>

    <script type="text/template" id="full-story-template">
      <h4 class="spine"> 
	<a href="<%= link.url %>"> <%= link.title %> </a> </h4> </script>

    <script type="text/template" id="story-template">
      <span class="score"> $<%= revenue %> </span>
      <a class="story" href="<%= link.url %>"><%= link.title %></a>
      <span class="submitter"> submitted by 
	<a class="link"> <%= submitter.nickname %> </a> </span> 
      <a href="<%= href %>" class="fundingLink fatBottom"> view funding </a>   </script>

    <script type="text/template" id="collapsed-edition-template">
      <span> Number <%= number %> awarded $<%= revenue / 100 %> to 
	<%= numFundedLinks %> stories </span> </script>

    <script type="text/template" id="volume-template">
      <span> <%= published %> editions published, <%= remaining %> remaining. </span> </script>

    <script type="text/template" id="follow-template">
      <%= subjectLink %>
      <span> <%= on? 'is about to follow' : 'is about to unfollow' %> </span>
      <%= objectLink %></script>

    <script type="text/template" id="welcome-template">
      <span>Welcome, </span> 
      <%= objectLink %>.</script>

    <script type="text/template" id="person-template">
      <h4 class="spine"><%= nickname %></h4>
    </script>

    <script type="text/template" id="following-template">
      <span> following </span>
      <input id="following" type="checkbox" 
	     <%= following? 'checked="yes"' : '' %>> </input> </script>

    <script type="text/template" id="person-link-template">
      <a href="<%= '#person/' + id %>"><%= nickname %></a></script>

  </body> </html>
