<!DOCTYPE html>
<html>

  <head>
    <title>The Craft of News: A Journal</title>
    <link href="rna.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="js/json2.js"></script>
    <script src="js/jquery-1.4.2.js"></script>
    <script src="js/underscore-1.1.3.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/rna-util.js"></script>
    <script src="js/rna.js"></script></head>

  <body>

    <!-- RNA App Interface -->
    <div id="rna-app">

      <div id="header">
        <h1 class="spine title">newskraft.org</h1>
	<div id="login" class="huge">
	  <a class="login"> </a>
	  <a class="logout"> </a>
	</div> </div>

      <div id="headerLine"> </div>

      <div id="flash" class="spine">
	<span class="flag notice large"></span>
	<span class="content large"> Please Wait.. </span> </div>

      <ul id="menu"> 
	<li> 
	  <span class="explain"> See what we're working on. </span> 
	  <a id="upcoming"> Upcoming </a> </li>
	<li> 
	  <a id="recent"> Previous </a> </li> </ul>

      <div id="main"> 
	<span id="loadMessage" 
	      style="margin-left: 25%; color: red; font-size: large; font-weight: bold">
	  Loading... </span> </div> </div>

    <script type="text/template" id="create-account-template"> 
      <div class="fatBottom"> <span class="welcomeTxt"> Welcome to the site. </span>  Please tell us about yourself. </div> <br>
      <form>
	<table> 
	  <tr> <td> Name or Nickname </td> 
	    <td> <input type="text" name="nickname"/> </td></tr>
	  <tr> <td> Web Page </td> 
	    <td> <input type="text" name="webPage"/> </td> </tr> </table> <br>
	<iframe src="consent_judge.html" height="250" width="600"> 
	  <p>Error: Your web browser is out of date. Please contact laheadle@gmail.com </p>
	</iframe>
	<div style="margin-top: 10px; font-weight: bold"> I agree to participate 
	<input name="consent" type="checkbox"> </input>  </div> <br>

	<input type="submit" value="submit information" />
      </form> </script>

    <!-- Templates -->

    <script type="text/template" id="edition-header-template"> 
      <span id="edition-header"> <span class="number"> Number 
	<%= number %>: </span> <%= finished? 'Awarded' : 'Awarding' %> 
	<%= finished? totalSpendStr : revenueStr %> 
	on <%= endStr %> </span> </script>

    <script type="text/template" id="signup-round-template"> 
      <span id="edition-header"> <span class="signup"> Signup round: </span> 
	<%= finished? 'Ended' : 'Ends' %>
	on <%= endStr %> </span> </script>

    <script type="text/template" id="edition-tabs-template"> 
      <div id="editionTabsMajor"> 
	<a class="stories <%= storiesSelected %>"> Stories </a>
	<a class="network <%= networkSelected %>"> Network </a> </div>
      <!-- fixme change to a TR -->
      <div id="editionTabsMinor" class="orderBy"> </div> 
      <div id="influenceTab"> </div> 
    </script>

    <script type="text/template" id="please-finish-registering">
      You have not finished registering your account. 
      <a href="#createAccount/"> Please do so. </a> </script>

    <script type="text/template" id="network-order-tab-template">
      <a class="top <%= topSelected %>">Top</a>
      <a class="recent <%= recentSelected %>"> Recent </a> </script>

    <script type="text/template" id="stories-order-tab-template">
      <a class="top <%= topSelected %>"> Top </a>
      <a class="recent <%= recentSelected %>"> Recent </a> </script>
    
    <script type="text/template" id="influence-tab-template">
      <a class="top judge <%= judgeSelected %>"> Judges </a>
      <a class="editor <%= editorSelected %>"> Editors </a> </script>
    
    <script type="text/template" id="authority-template">
      <%= fundedStr %> <a> <%= nickname %> </a> </script>
    
    <script type="text/template" id="top-editor-template">
      <%= fundedStr %> <a> <%= nickname %> </a> </script>
    
    <script type="text/template" id="none-followed-template">
	<li class="empty"> 
	  No judges have been fully authorized yet.  Please invite or follow judges.
	</li> </script>

    <script type="text/template" id="funding-template">
	<li> 
	  <!-- don't redisplay the username for personview -->
	  <span class="smallTime"> <%= timeStr %></span> 
	  <%= user ? rMake('#person-link-template', user) : "" %>
	  funded 
	  <a href="<%= link.url %>"> <%= link.title %> </a>
	</li> </script>

    <script type="text/template" id="followers-template">
      <div class="social-links spine">
        Followed by: 
          <% if (followers.length == 0) { %>
  	    <%= 'nobody' %>
  	  <% } else {
  	     _.each(followers, function(f) { %> 
  	      <%= rMake('#person-link-template', f) %> 
            <% });
  	  } %>
      </div>
    </script>

    <script type="text/template" id="follows-template">
      <div class="social-links spine">
        who follows: 
          <% if (follows.length == 0) { %>
  	    <%= 'nobody' %>
  	  <% } else {
  	     _.each(follows, function(f) { %> 
  	      <%= rMake('#person-link-template', f) %> 
            <% });
  	  } %>
      </div>
    </script>

    <script type="text/template" id="story-funding-template">
	<li> 
	  $<%= dollars %>.<%= pennies %> <span class="fund-from"> from </span>
	  <%= rMake('#person-link-template', user) %>
	</li> </script>

    <script type="text/template" id="full-story-template">
      <div class="spine">
	<span class="revenue"> <%= fundingStr %></span>
	<br>
	<h3> 
	  <a href="<%= link.url %>"> <%= link.title %> </a> </h3> 
	<span> 
	  submitted by <%= rMake('#person-link-template', submitter) %> 
	  from <%= link.domain %> </span> <br>
    
	<span> Fund this story: </span>
	<input id="is-funding" type="checkbox" 
	       <%= userIsFunding? 'checked="yes"' : '' %>> </input> </div> </script>

    <script type="text/template" id="story-template">
     <div class="fatBottom">
      <a class="revenue" href="<%= href %>"> <%= fundingStr %>...</a>
      <br>
      <a class="indented-story" href="<%= link.url %>"> <%= link.title %></a> 
      <div></script>

    <script type="text/template" id="collapsed-edition-template">
      <span> <a href="#topStories/<%= number %>"> Number 
	  <%= number %> </a> awarded $<%= totalSpend / 100 %> to 
	<%= numFundedLinks %> <%= numFundedLinks == 1? 'story' : 'stories' %> 
	on <%= endStr %> </span> </script>

    <script type="text/template" id="collapsed-signup-round-template">
      <span> <a href="#recentSocials/<%= number %>"> Signup round </a> 
	ended on <%= endStr %> </span> </script>

    <script type="text/template" id="volume-template">
      <span> <%= published %> 
	<%= published == 1? 'edition' : 'editions' %> 
	published, <%= remaining %> remaining. </span> </script>

    <script type="text/template" id="follow-template">
      <span class="smallTime"> <%= timeStr %> </span> <%= subjectLink %> 
      <span> <%= on? 'decided to follow' : 'decided to unfollow' %> </span>
      <%= objectLink %> </script>

    <script type="text/template" id="welcome-template">
      <span class="smallTime"> <%= timeStr %> </span> <span>Welcome, </span> 
      <%= objectLink %>.</script>

    <script type="text/template" id="person-template">
      <div class="spine fatBottom"> 
	<span class="userNickname"> <%= nickname %> </span> 
	<span class="userType"> 
	  is <%= isEditor? 'an editor' : 'a judge' %> </span> </div> </script>

    <script type="text/template" id="is-following-template">
      <span class="spine"> Follow: </span>
      <input id="is-following" type="checkbox" 
	     <%= isFollowing? 'checked="yes"' : '' %>> </input> </script>

    <script type="text/template" id="person-link-template">
      <a href="<%= '#person/' + id %>"><%= nickname %></a></script>

  </body> </html>
