
/* --- generics --- */

.large {
    font-size: 1.2em
}

.huge {
    font-size: 1.4em;
}

.enormous {
    font-size: 1.6em;
}

.fatBottom {
    margin-bottom: .5em;
}

.hugeBottom {
    margin-bottom: 1em;
}

.unselected {
    color: blue;
}

.selected {
    color: black;
    font-weight: bold;
}

a { 
    color: blue; 
    cursor: pointer;
    text-decoration: none;
}

h3, h4 {
    margin: 0 0 0 0;
}

/* foundations */

html, body {
    margin: 0;
    padding: 0;
    border: none;
    background: white;
    display: block;
}

body {
}

a.titleLink {
    font-size: 1.2em;
    display: block;
}

h1.title {
    font-weight: bold;
    font-size: 2em;
    color: black;
    display: inline;
}

/* width: 100 [left-margin] 150 [left-menu] 850 [header/main] */

#rna-app {
    position: relative;
    left: 100px;
    width: 1000px;
    height: 100%;
}

#header {
    position: absolute;
    left: 150px;
    border-bottom: 1px solid black;
    width: 850px; /* 1000 - 150 */ 
    height: 30px;
}

#person {
    position: absolute;
    top: 35px;
}

#edition-header, .volumeHeader, .mainHeader {
    background-color: #F0F0F0;
    width: 850px;
    font-size: 1.4em;
}

.mainDescription {
    margin: 10px 0;
}

.help {
    font-size: .8em;
    color: gray;
}

a.help {
    color: black;
}

.social-links {
    margin-top: 5px;
}

#volume {
    position: absolute;
}

.volumeBody {
    top: 50px;
}

.volumeHeader {
    position: absolute;
}

#main {
    position: absolute;
    width: 850px;
    left: 150px;
    top: 75px;
}

#flash {
    position: absolute;
    top: 30px;
    left: 150px;
    height: 1.2em;
    margin: 0.67em 0 0 0;
}

#menu {
    margin: 0 0 0 0; 
    padding-left: 0;
    font: 1.1em bold;
}

.menuHeader {
    padding-bottom: 5px;
}

#leftColumn {
    position:absolute;
    top: 60px;
}

.menuBorder {
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}

#secondMenu {
    position: relative;
    top: 10px;
    padding-left: 0;
    font: 1.1em bold;
    color: blue;
}

#login {
    margin-top: 11px;
    float: right;
}


#flash span.error { color: red }
#flash span.redNotice { color: red }
#flash span.notice { color: green }

#flash span.success { 
    padding-right: .4em;
    padding-left: .4em;
    font-weight: bold; 
    background-color: aqua; 
    color: black; 
}

#flash span.info { color: green; }


/* --- supporting id's --- */

.collapsedEdition {
    margin-top: 5px;
    border-bottom: 1px solid #F0F0F0;
}

.list {
    position: absolute;
    width: 850px;
}

.listItem {

}

#createAccount {
    padding-left: 150px;
}

#editionTabsMajor {
    width: 300px;
}

.spaceOnTop {
    margin-top: 20px;
}

#editionTabsMinor {
}


/* --- supporting classes --- */

.editionExplanation {
    margin-top: 5px;
}

.fundingExplanation {
    font-weight: bold;
}

.edition .empty {
    
    font-size: 1.4em;
}


.edition span.submitter {
    display: block;
}

.submitterLine {
    padding: 5px;
}

.editionTabs {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 5px 0 5px;
    margin: 60px 0 40px 100px;
    width: 200px;
}

.fund-from {
    font-size: .6em;
    color: gray;
}

.indented-story {
    padding: 0 0 0 10px;
    font-size: 1.1em;
}

.nominate {
    display: none; /* fixme */
}

.number, .amount {
    color: green;
}

.revenue {
    padding: 3px;
    font-size: .7em;
    background-color:  #F0F0F0;
}

.bigRevenue {
    padding: 2px;
    font-size: 1.2em;
    background-color:  #F0F0F0;
}

.signup {
    color: green;
}

.smallTime {
    font-size: .5em;
}

.listItem {
    color: black;
    font-size: 1.1em;
    margin-bottom: .5em;
}

.regularSize {
    color: black;
    font-size: .9em;
    margin-bottom: .5em;
}

.stories, .top {
    float: left;
    width: 4.2em;
}

.userNickname {
    font-size: 1em;
    font-weight: bold;
}

.userType {
    
}

.welcomeTxt {
    font-weight: bold;
}

.showText {
    font-weight: bold;
    position: absolute;
    left: 200px;
}