<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>rnaServlet</servlet-name>
		<servlet-class>org.rapidnewsawards.server.RNAServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>JSONServlet</servlet-name>
		<servlet-class>org.rapidnewsawards.server.JSONServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>apiServlet</servlet-name>
		<servlet-class>org.rapidnewsawards.server.APIServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>makeDataServlet</servlet-name>
		<servlet-class>org.rapidnewsawards.server.MakeDataServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>killDataServlet</servlet-name>
		<servlet-class>org.rapidnewsawards.server.KillDataServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>doSomethingServlet</servlet-name>
		<servlet-class>org.rapidnewsawards.server.DoSomethingServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>transitionTask</servlet-name>
		<servlet-class>org.rapidnewsawards.server.TransitionTask</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>tallyTask</servlet-name>
		<servlet-class>org.rapidnewsawards.server.TallyTask</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>transitionTask</servlet-name>
		<url-pattern>/tasks/transition</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSONServlet</servlet-name>
		<url-pattern>/JSONrpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tallyTask</servlet-name>
		<url-pattern>/tasks/tally</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>rnaServlet</servlet-name>
		<url-pattern>/rapid_news_awards/rna</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>rnaServlet</servlet-name>
		<url-pattern>/Vote/rna</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>apiServlet</servlet-name>
		<url-pattern>/1/*</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>doSomethingServlet</servlet-name>
		<url-pattern>/doSomething</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>makeDataServlet</servlet-name>
		<url-pattern>/makeData</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>killDataServlet</servlet-name>
		<url-pattern>/killData</url-pattern>
	</servlet-mapping>


  <filter> 
    <filter-name>AuthFilter</filter-name> 
    <filter-class>org.rapidnewsawards.server.AuthFilter</filter-class> 
    <init-param>
      <param-name>adminEmail</param-name>
      <param-value>laheadle@gmail.com</param-value>
    </init-param>
  </filter> 
  <filter-mapping> 
    <filter-name>AuthFilter</filter-name> 
    <url-pattern>/*</url-pattern> 
  </filter-mapping> 
  
  <security-constraint>
        <web-resource-collection>
            <url-pattern>/tasks/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>Rapid_News_Awards.html</welcome-file>
	</welcome-file-list>

</web-app>
